body {
	background-color: rgb(132, 132, 207);
	text-align: center;
	color: rgb(15, 16, 15);
	font-family: Arial, Helvetica, sans-serif;
}

.heading {
	color: rgb(41, 19, 80);
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 50vh;
}

.question-card {
	padding: 42px;
	border-radius: 50px;
	background-color: rgb(206, 200, 126);
}

.option {
	padding: 4px;
}
